<div class="max-w-screen-xl flex flex-col mx-auto p-4 space-y-4">
    <div>
        <app-income-form
        (filter)="filterIncomesBySource($event)"
        (clearFilterEvent)="clearFilter()"
        ></app-income-form>
    </div>
    <div class="space-y-2 overflow-x-auto">
        <app-shared-table 
        [data]="allIncomes" 
        type="income"
        (edit)="handleEdit($event)"
        (delete)="handleDelete($event)"
        (dataChange)="handleDataChange()"
        >
        </app-shared-table>
    </div>
</div>
