<!-- <div class="main-layout flex">
  
    <div class="main-content flex-grow flex flex-col">
      <app-header></app-header>
      <app-particles-background></app-particles-background>
      <router-outlet></router-outlet>
    </div>
  </div> -->


<div class="main-layout flex relative">
  <app-particles-background></app-particles-background>

  <!-- Main Content -->
  <div class="main-content flex-grow flex flex-col">
    <app-header></app-header>
    <router-outlet>
    </router-outlet>
  </div>
</div>
