<div class="max-w-screen-xl mx-auto p-4">
    <!-- <app-saving-form></app-saving-form> -->
    <div class="flex justify-between items-center">
        <h1 class="text-2xl font-semibold">Savings</h1>

        <app-action-button 
        text="Add Saving"
        type="submit"
        (click)="openAddCategoryModal()"
        buttonClass="text-white bg-gradient-to-r from-purple-400 via-purple-500 to-purple-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium"
        tooltip="Add Saving"
        ></app-action-button>
    </div>

    <div class="mt-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <button 
        (click)="openCategoryDetailModal(category)"
        *ngFor="let category of savingsCategorySummary" 
        class="text-left border p-4 rounded-lg shadow-md space-y-3 hover:shadow-lg hover:shadow-purple-400">
            <h2 
            class="text-lg font-semibold">{{ category.category_name }}</h2>
            
            <div class="space-y-1">
                <div class="flex justify-between text-sm">
                    <span>Total Saved:</span>
                    <span>{{ category.total_saved }} €</span>
                </div>

                <div class="text-sm">
                Goal: <span class="font-medium">{{ category.goal_amount }} €</span>
                </div>

                <div class="w-full bg-gray-200 rounded-full h-3 mt-2">
                    <div
                        class="bg-green-500 h-3 rounded-full"
                        [style.width.%]="(category.total_saved / category.goal_amount) * 100"
                    ></div>
                </div>

                <div class="text-sm font-semibold">
                {{ ((category.total_saved / category.goal_amount) * 100) | number:'1.0-2' }}%
                </div>

                <div class="text-sm text-gray-600">
                Remaining: <span class="font-medium">{{ category.remaining_amount }} €</span>
                </div>
            </div>
        </button>
    </div>
</div>