<div
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50" aria-hidden="true" (click)="closeModal()">
    <div class="bg-white rounded-lg shadow-lg p-6 max-w-md w-full" (click)="$event.stopPropagation()">

        <div class="flex justify-between items-center">
            <h4 class="p-2 pl-6 text-xl font-semibold ">Edit expense modal</h4>
            <button (click)="closeModal()" class="p-2 rounded-full ">
                <ng-icon name="heroXMark" class="text-2xl"/>
            </button>
        </div>

        <form (ngSubmit)="onSaveExpense()" class="card pl-6 pr-8 mt-4 rounded-lg">

            <div class="mb-4">
            <label for="category" class="block text-sm font-medium text-gray-700">Category</label>
                <div class="flex items-center gap-2 mt-1">
            
                    <select
                        id="category"
                        class="w-full p-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
                        [(ngModel)]="selectedCategory"
                        name="category"
                        (change)="onCategorySelect()"
                        required>
                        <option *ngFor="let category of categories" [value]="category.id">
                        {{ category.name }}
                        </option>
                    </select>

                </div>
            </div>

            <div class="mb-4">
                <label for="amount" class="block text-sm font-medium text-gray-700">Amount</label>
                <div class="flex items-center gap-2 mt-1">
                    <input
                    type="number"
                    id="amount"
                    class="w-full mt-1 p-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
                    [(ngModel)]="amount"
                    name="amount"
                    placeholder="Enter amount"
                    required/>

                    <app-datepicker (dateChange)="onDatePicked($event)" [initialDate]="selectedDate"></app-datepicker>
                </div>
            </div>

            <div class="mb-2">
                <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
                <textarea
                id="description"
                class="w-full mt-1 p-2 border border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500"
                [(ngModel)]="description"
                name="description"
                placeholder="Enter description"
                rows="3"></textarea>
            </div>

            <app-action-button 
                text="Save Expense"
                tooltip="Save Expense"
                type="submit"
                buttonClass="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium"
            ></app-action-button>

        </form>
    </div>
</div>