.mat-mdc-form-field-subscript-wrapper {
  display: none !important; 
}

.datepickerForm {
  background:lightblue;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  width: 180px !important;
  height: 50px !important;
  background-color: rgb(255, 255, 255) !important;
}