<div *ngIf="data?.title">
    <h1 class="text-xl font-bold pl-6 py-4">{{ data.title }}</h1>
</div> 

<div class="card grid grid-cols-2 gap-6">

    <form (ngSubmit)="onAddIncome()" class="p-6"> 

        <div class="mb-6">
        <label for="source" class="block text-sm font-medium text-gray-700">Source</label>
            <div class="flex items-center gap-2 mt-1">
        
                <select
                    id="source"
                    class="w-full p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
                    [(ngModel)]="selectedSource"
                    name="source"
                    (change)="onSourceSelect()"
                    required>
                    <option *ngFor="let source of sources" [value]="source.id">
                    {{ source.name }}
                    </option>
                </select>

                <app-action-button 
                    type="button"
                    buttonClass="text-green-500 border border-green-500 bg-white 
                                hover:bg-gradient-to-br from-green-400 via-green-500 to-green-600
                                hover:text-white shadow-lg shadow-green-500/50 
                                dark:shadow-lg dark:shadow-green-800/80"
                    (click)="openAddSourceModal()"
                    icon="heroPlusSmall"
                    size="icon"
                    tooltip="Add Source"
                    >
                </app-action-button>

                <app-action-button 
                    type="button"
                    buttonClass="text-blue-500 border border-blue-500 bg-white 
                                hover:bg-gradient-to-br from-blue-400 via-blue-500 to-blue-600
                                hover:text-white shadow-lg shadow-blue-500/50 
                                dark:shadow-lg dark:shadow-blue-800/80"                  
                    (click)="openUpdateSourceModal(selectedSource)"
                    icon="heroPencilSquare"
                    size="icon"
                    tooltip="Edit Source"
                    >
                </app-action-button>

                <app-action-button 
                    type="button"
                    buttonClass="text-red-500 border border-red-500 bg-white 
                                hover:bg-gradient-to-br from-red-400 via-red-500 to-red-600
                                hover:text-white shadow-lg shadow-red-500/50 
                                dark:shadow-lg dark:shadow-red-800/80"                
                    (click)="handleDeleteSource(selectedSourceObj.id)"
                    icon="heroTrash"
                    size="icon"
                    tooltip="Delete Source"
                    >
                </app-action-button>
                
            </div>
        </div>

        <!-- <div class="grid grid-cols-2 gap-6">
            <div class="mb-6">
                <label for="amount" class="block text-sm font-medium text-gray-700">Amount</label>
                <div class="flex items-center gap-2 mt-1">
                    <input
                    type="number"
                    id="amount"
                    class="w-full mt-1 p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
                    [(ngModel)]="amount"
                    name="amount"
                    placeholder="Enter amount"
                    required/>

                </div>
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700">Choose a date</label>
                <app-datepicker (dateChange)="onDatePicked($event)" [initialDate]="selectedDate"></app-datepicker>
            </div>

        </div> -->

        <div class="mb-6">
            <label for="amount" class="block text-sm font-medium text-gray-700">Amount</label>
            <div class="flex items-center gap-2 mt-1">
                <input
                type="number"
                id="amount"
                class="w-full mt-1 p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
                [(ngModel)]="amount"
                name="amount"
                placeholder="Enter amount"
                required/>
                <app-datepicker (dateChange)="onDatePicked($event)" [initialDate]="selectedDate"></app-datepicker>
            </div>
        </div>                      

        <div class="flex gap-2">
            <app-action-button 
            text="Add Income"
            type="submit"
            buttonClass="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium"
            tooltip="Add Income"
            ></app-action-button>

            <app-action-button 
            text="Filter by Source"
            tooltip="Filter by Source"
            type="button"
            buttonClass="text-white bg-gradient-to-r from-yellow-400 via-yellow-500 to-yellow-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-yellow-300 dark:focus:ring-yellow-800 shadow-lg shadow-yellow-500/50 dark:shadow-lg dark:shadow-yellow-800/80 font-medium"
            (click)="filterIncomesBySource()"
            ></app-action-button>

            <app-action-button 
            text="Clear Filter"
            tooltip="Clear Filter"
            type="button"
            buttonClass="text-white bg-gradient-to-r from-gray-400 via-gray-500 to-gray-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-gray-300 dark:focus:ring-gray-800 shadow-lg shadow-gray-500/50 dark:shadow-lg dark:shadow-gray-800/80 font-medium"
            (click)="clearFilter()"
            ></app-action-button>
        </div>
    </form>

    <div class="p-6 mb-6">
        <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
        <textarea
        id="description"
        class="w-full mt-1 p-2 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500"
        [(ngModel)]="description"
        name="description"
        placeholder="Enter description"
        rows="5"></textarea>
    </div>

</div>
