<div
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50" aria-hidden="true" (click)="closeModal()">
    <div class="bg-white rounded-lg shadow-lg p-6 max-w-md w-full" (click)="$event.stopPropagation()">
        <div class="flex justify-between items-center">
            <h4 class="p-2 pl-6 text-xl font-semibold">Add new saving category</h4>
            <button (click)="closeModal()" class="p-2 rounded-full ">
                <ng-icon name="heroXMark" class="text-2xl"/>
            </button>
        </div>

        <div class="car pl-6 pr-8 mt-4 rounded-lg">
            <div class="flex flex-row items-center gap-4 mb-4">
                <div>
                    <label for="editCategoryName" class="block text-sm font-medium text-gray-700">Category Name</label>
                    <input
                    type="text"
                    class="p-2 border border-gray-300 rounded-lg focus:ring-green-500 focus:border-green-500"
                    [(ngModel)]="newCategoryName"
                    name="newCategoryName"
                    placeholder="New Category"/>
                </div>
                
                <div>
                    <label for="editCategoryName" class="block text-sm font-medium text-gray-700">Goal</label>
                    <input
                    type="text"
                    class="w-full p-2 border border-gray-300 rounded-lg focus:ring-green-500 focus:border-green-500"
                    [(ngModel)]="goal"
                    name="goal"
                    placeholder="Value (€)"/>
                </div>
                
            </div>

            <app-action-button 
                text="Save"
                tooltip="Save"
                type="button"
                buttonClass="text-white bg-gradient-to-r from-green-400 via-green-500 to-green-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-green-300 dark:focus:ring-green-800 shadow-lg shadow-green-500/50 dark:shadow-lg dark:shadow-green-800/80 font-medium"
                (click)="addNewCategory()"
                >
            </app-action-button>
            
        </div>
    </div>
</div>