name: Deploy on Push to Master

on:
  push:
    branches:
      - master

jobs:

  python-security:
    name: Python Security Scan
    env:
        SAFETY_API_KEY: ${{ secrets.SAFETY_API_KEY }}
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      # - run: echo "Skipping Python security scan" && exit 0
      - run: |        
          cd $GITHUB_WORKSPACE/backend
          python3 -m venv venv
          source venv/bin/activate
          cd backend
          pip install --upgrade pip
          pip install --force-reinstall -r requirements.txt
          pip install safety
          safety scan -r requirements.txt \
            --apply-fixes \
            --auto-security-updates-limit minor \
            --yes \
            --no-prompt \
            --output screen \
            --ignore 66963  # Known issue with simplejwt, no fix yet
    
      #       - run: |
      #     cd /home/user/code/_github/finance-manager
      #     source venv/bin/activate
      #     cd backend
      #     pip install --upgrade pip
      #     pip install --force-reinstall -r requirements.txt
      #     pip install safety
      #     safety scan -r requirements.txt \
      #       --apply-fixes \
      #       --auto-security-updates-limit minor \
      #       --yes \
      #       --no-prompt \            
      #       --output json \
      #       --output-file .safety-report.txt \
      #       --ignore 66963  # Known issue with simplejwt, no fix yet
      # - name: Upload Safety Report
      #   if: always()
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: safety-scan
      #     path: /home/user/code/_github/finance-manager/backend/.safety-report.txt      
      
  node-security:
    name: Node Security Scan
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - run: |
            cd $GITHUB_WORKSPACE/frontend
            npm install
            npm audit --audit-level=high || true

  docker-security:
    name: Docker Image Scan (Trivy)
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3

      - name: Build Docker Images (Compose)
        run: |
            cd $GITHUB_WORKSPACE
            docker compose build

      - name: Scan Backend Image
        uses: aquasecurity/trivy-action@0.17.0
        with:
            image-ref: 'finance-manager-backend:latest'
            format: 'json'
            output: 'trivy-backend.json'
            exit-code: '0'
            ignore-unfixed: true
            list-all-pkgs: true
            severity: 'HIGH,CRITICAL'
            
      - name: Scan Frontend Image
        uses: aquasecurity/trivy-action@0.17.0
        with:
            image-ref: 'finance-manager-frontend:latest'
            format: 'table'
            exit-code: '0'
            ignore-unfixed: true
            severity: 'HIGH,CRITICAL'

      - name: Upload Trivy Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
            name: trivy-backend-report
            path: trivy-backend.json


  deploy:
    name: Deploy
    runs-on: self-hosted
    needs: [python-security, node-security, docker-security]
    steps:
      - uses: actions/checkout@v3
      - name: Setup SSH Key
        uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - run: |
            cd /home/user/code/_github/finance-manager
            git stash
            git pull origin master
            git stash pop
            docker compose down --remove-orphans
            docker compose build --no-cache
            docker compose up -d
            docker system prune -f   
