/* .card {
    background: white;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
} */

/* .button-card {
  background: rgba(173, 216, 230, 0.2);
  border: 1px solid rgba(173, 216, 230, 0.5);
  box-shadow: 0 4px 10px rgba(173, 216, 230, 0.3);
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(15px); 
} */

.card {
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(15px); 
    border-radius: 12px; 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); 
  }

.card-content {
    padding: 1rem;
}

.btn {
    background: #3b82f6;
    color: white;
    padding: 0.5rem;
    text-align: center;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn:hover {
    background: #2563eb;
}

@keyframes dots {
    0% { content: ""; }
    25% { content: "."; }
    50% { content: ".."; }
    75% { content: "..."; }
    100% { content: ""; }
  }
  
  .dots::after {
    content: "";
    display: inline-block;
    width: 10px;
    animation: dots 1.5s infinite steps(1);
  }