<div class="p-4 space-y-6">

    <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
        <div class="card lg:col-span-1">
            <div class="card-content text-center">
                <app-balance-summary></app-balance-summary>
            </div>
        </div>
        <div class="card">
            <div class="card-content text-center">
                <app-income-summary></app-income-summary>
            </div>
        </div>
        <div class="card">
            <div class="card-content text-center">
                <app-expense-summary></app-expense-summary>
            </div>
        </div>
        <div class="card">
            <div class="card-content text-center">
                <app-saving-summary></app-saving-summary>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">

        <div class="card">
            <div class="card-content">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="text-lg font-bold">Income Sources ({{ selectedView }})</h2>
                    <ng-icon class="hover:cursor-pointer" name="hugeSettings01" style="width: 20px; height: 20px;" (click)="openColorSettingsModal('income')"></ng-icon>
                </div>
        
                <div *ngIf="loading; else incomeChart" class="flex flex-col justify-center items-center h-52 space-y-2">
                    <ng-icon name="hugeLoading03" class="animate-spin text-gray-500" style="width: 50px; height: 50px;"></ng-icon>
                    <p class="text-gray-500 text-sm">Loading data<span class="dots"></span></p>
                </div>
        
                <ng-template #incomeChart>
                    <div *ngIf="incomeChartCategory?.labels?.length && incomeChartCategory?.datasets?.length; else noIncomeData">
                        <app-pie-chart #incomePieChart [data]="incomeChartCategory"></app-pie-chart>
                    </div>
                </ng-template>
        
                <ng-template #noIncomeData>
                    <p class="text-gray-500">No income data available for {{ selectedView }}.</p>
                </ng-template>
            </div>
        </div>

        <div class="card lg:col-span-2">
            <div class="card-content">
                <h2 class="text-lg font-bold mb-4">Income vs Expense</h2>

                <div *ngIf="loading; else barChart" class="flex flex-col justify-center items-center h-52 space-y-2">
                    <ng-icon name="hugeLoading03" class="animate-spin text-gray-500" style="width: 50px; height: 50px;"></ng-icon>
                    <p class="text-gray-500 text-sm">Loading data<span class="dots"></span></p>
                </div>

                <ng-template #barChart>
                    <div *ngIf="incomeVsExpense?.labels?.length && incomeVsExpense?.datasets?.length; else noBarData">
                        <app-bar-chart [data]="incomeVsExpense"></app-bar-chart>
                    </div>
                </ng-template>

                <ng-template #noBarData>
                    <p class="text-gray-500">No data avalaible for {{ selectedView }}</p>
                </ng-template>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="text-lg font-bold">Spending Categories ({{ selectedView }})</h2>
                    <ng-icon class="hover:cursor-pointer" name="hugeSettings01" style="width: 20px; height: 20px;" (click)="openColorSettingsModal('expense')"></ng-icon>
                </div>
        
                <div *ngIf="loading; else expenseChart" class="flex flex-col justify-center items-center h-52 space-y-2">
                    <ng-icon name="hugeLoading03" class="animate-spin text-gray-500" style="width: 50px; height: 50px;"></ng-icon>
                    <p class="text-gray-500 text-sm">Loading data<span class="dots"></span></p>
                </div>
        
                <ng-template #expenseChart>
                    <div *ngIf="expenseChartCategory?.labels?.length && expenseChartCategory?.datasets?.length; else noExpenseData">
                        <app-pie-chart #expensePieChart [data]="expenseChartCategory"></app-pie-chart>
                    </div>
                </ng-template>
        
                <ng-template #noExpenseData>
                    <p class="text-gray-500">No expense data available for {{ selectedView }}.</p>
                </ng-template>
            </div>
        </div>

    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <div class="card">
            <div class="card-content">
                <h2 class="text-lg font-bold mb-4">Recent Transactions</h2>

                <div *ngIf="loading; else recentTransactionsData" class="flex flex-col justify-center items-center h-52 space-y-2">
                    <ng-icon name="hugeLoading03" class="animate-spin text-gray-500" style="width: 50px; height: 50px;"></ng-icon>
                    <p class="text-gray-500 text-sm">Loading data<span class="dots"></span></p>
                </div>
            
                <ng-template #recentTransactionsData>
                    <div *ngIf="recentTransactions?.length; else noTransactionData">
                        <ul class="space-y-2">
                            <li 
                                class="grid grid-cols-4 gap-4 text-left" 
                                *ngFor="let transaction of recentTransactions">
                                <span> {{ transaction.type | titlecase }} </span>
                                <span class="truncate"> {{ transaction.name }} </span>
                                <div class="flex justify-end items-center pr-4">
                                    <span>{{ transaction.amount | number }}</span>
                                    <span class="ml-2">€</span>
                                </div>
                                <span> {{ transaction.date }} </span>
                            </li>
                        </ul>
                    </div>
                </ng-template>

                <ng-template #noTransactionData>
                    <p class="text-gray-500">No transaction data available.</p>
                </ng-template>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <h2 class="text-lg font-bold mb-4">Saving Progress %</h2>

                <div *ngIf="loading; else savingsData" class="flex flex-col justify-center items-center h-52 space-y-2">
                    <ng-icon name="hugeLoading03" class="animate-spin text-gray-500" style="width: 50px; height: 50px;"></ng-icon>
                    <p class="text-gray-500 text-sm">Loading data<span class="dots"></span></p>
                </div>

                <ng-template #savingsData>
                    <div *ngIf="savings?.length; else noSavingData">
                        <ul class="space-y-3">
                            <li class="flex items-center justify-between space-x-4" *ngFor="let saving of savings">
                                                        
                                <span class="w-1/3 text-left"> {{ saving.category_name }} </span>
                                        
                                <div class="w-2/3 bg-gray-200 rounded-full h-3 relative">
                                    <div
                                        class="bg-green-500 h-3 rounded-full"
                                        [style.width.%]="(saving.total_saved / saving.goal_amount) * 100"
                                    ></div>
                                </div>
                                        
                                <span class="w-12 text-right text-sm font-semibold">
                                    {{ ((saving.total_saved / saving.goal_amount) * 100) | number:'1.0-2' }}%
                                </span>
                            </li>
                        </ul>
                    </div>
                </ng-template>

                <ng-template #noSavingData>
                    <p class="text-gray-500">No saving data available.</p>
                </ng-template>
            </div>
        </div>   

        <div class="card">
            <div class="card-content space-y-4">
                <h2 class="text-lg font-bold mb-2">Quick Actions</h2>

                <app-action-button 
                    type="button"
                    buttonClass="mb-4 w-full text-blue-500 border border-blue-500 bg-white hover:bg-gradient-to-br from-blue-400 via-blue-500 to-blue-600 hover:text-white shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80"
                    (click)="openAddIncomeModal()"
                    text="Add Income"
                    tooltip="Add Income"
                    >
                </app-action-button>

                <app-action-button 
                    type="button"
                    buttonClass="mb-4 w-full text-red-500 border border-red-500 bg-white hover:bg-gradient-to-br from-red-400 via-red-500 to-red-600 hover:text-white shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80"
                    (click)="openAddExpenseModal()"
                    text="Add Expense"
                    tooltip="Add Expense"
                    >
                </app-action-button>

                <app-action-button 
                    type="button"
                    buttonClass="w-full text-amber-500 border border-amber-500 bg-white hover:bg-gradient-to-br from-amber-400 via-amber-500 to-amber-600 hover:text-white shadow-lg shadow-amber-500/50 dark:shadow-lg dark:shadow-amber-800/80"
                    (click)="openAddSavingModal()"
                    text="Add Saving"
                    tooltip="Create Savings Goal"
                    >
                </app-action-button>

            </div>
        </div>
    </div>
</div>