<!-- <div class="max-w-screen-xl flex flex-col mx-auto p-4">
    
    <p>home works!</p>

</div> -->

<div class="p-4 space-y-6">

    <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
        <div class="card lg:col-span-1">
            <div class="card-content text-center">
                <h2 class="text-xl font-bold">Balance Overview</h2>
                <p class="text-3xl font-semibold text-green-500">{{ balance?.available_balance }} €</p>
                <p class="text-sm text-gray-500">Last Updated: {{ balance?.last_updated | date:'d.M.yyyy' }}</p>
            </div>
        </div>
        <div class="card">
            <div class="card-content text-center">
                <app-income-summary></app-income-summary>
            </div>
        </div>
        <div class="card">
            <div class="card-content text-center">
                <app-expense-summary></app-expense-summary>
            </div>
        </div>
        <div class="card">
            <div class="card-content text-center">
                <h2 class="text-xl font-bold">Total Saving</h2>
                <p class="text-3xl font-semibold text-amber-500">{{ totalSaving }} €</p>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">

        <div class="card">
            <div class="card-content">
                <h2 class="text-lg font-bold mb-4">Income Sources ({{ selectedView }})</h2>
        
                <div *ngIf="loading; else incomeChart" class="flex flex-col justify-center items-center h-52 space-y-2">
                    <ng-icon name="hugeLoading03" class="animate-spin text-gray-500" style="width: 50px; height: 50px;"></ng-icon>
                    <p class="text-gray-500 text-sm">Loading data<span class="dots"></span></p>
                </div>
        
                <ng-template #incomeChart>
                    <div *ngIf="incomeSources.length > 0; else noData">
                        <app-pie-chart [data]="incomeSources"></app-pie-chart>
                    </div>
                </ng-template>
        
                <ng-template #noData>
                    <p class="text-gray-500">No income data available for {{ selectedView }}.</p>
                </ng-template>
            </div>
        </div>

        <div class="card lg:col-span-2">
            <div class="card-content">
                <h2 class="text-lg font-bold mb-4">Income vs Expense</h2>
                <app-bar-chart [data]="incomeVsExpense"></app-bar-chart>
            </div>
        </div>

        <div class="card">
            <div class="card-content">
                <h2 class="text-lg font-bold mb-4">Spending Categories ({{ selectedView }})</h2>
        
                <div *ngIf="loading; else expenseChart" class="flex flex-col justify-center items-center h-52 space-y-2">
                    <ng-icon name="hugeLoading03" class="animate-spin text-gray-500" style="width: 50px; height: 50px;"></ng-icon>
                    <p class="text-gray-500 text-sm">Loading data<span class="dots"></span></p>
                </div>
        
                <ng-template #expenseChart>
                    <div *ngIf="spendingCategories.length > 0; else noData">
                        <app-pie-chart [data]="spendingCategories"></app-pie-chart>
                    </div>
                </ng-template>
        
                <ng-template #noData>
                    <p class="text-gray-500">No expense data available for {{ selectedView }}.</p>
                </ng-template>
            </div>
        </div>

    </div>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <div class="card">
        <div class="card-content">
            <h2 class="text-lg font-bold mb-4">Recent Transactions</h2>
            <ul class="space-y-2">
            <li class="flex justify-between" *ngFor="let transaction of recentTransactions">
                <span>{{ transaction.name }}</span>
                <span [class.text-red-500]="transaction.amount < 0" [class.text-green-500]="transaction.amount > 0">
                
                1000
                </span>
            </li>
            </ul>
        </div>
        </div>
        <div class="card">
            <div class="card-content space-y-4">
                <h2 class="text-lg font-bold mb-2">Quick Actions</h2>

                <app-action-button 
                    type="button"
                    buttonClass=" w-full text-blue-500 border border-blue-500 bg-white 
                                hover:bg-gradient-to-br from-blue-400 via-blue-500 to-blue-600
                                hover:text-white shadow-lg shadow-blue-500/50 
                                dark:shadow-lg dark:shadow-blue-800/80"
                    (click)="openAddIncomeModal()"
                    text="Add Income"
                    tooltip="Add Income"
                    >
                </app-action-button>

                <hr>

                <app-action-button 
                    type="button"
                    buttonClass=" w-full text-red-500 border border-red-500 bg-white 
                                hover:bg-gradient-to-br from-red-400 via-red-500 to-red-600
                                hover:text-white shadow-lg shadow-red-500/50 
                                dark:shadow-lg dark:shadow-red-800/80"
                    (click)="addExpense()"
                    text="Add Expense"
                    tooltip="Add Expense"
                    >
                </app-action-button>

                <hr>

                <app-action-button 
                    type="button"
                    buttonClass=" w-full text-amber-500 border border-amber-500 bg-white 
                                hover:bg-gradient-to-br from-amber-400 via-amber-500 to-amber-600
                                hover:text-white shadow-lg shadow-amber-500/50 
                                dark:shadow-lg dark:shadow-amber-800/80"
                    (click)="createSavingsGoal()"
                    text="Create Savings Goal"
                    tooltip="Create Savings Goal"
                    >
                </app-action-button>

            </div>
        </div>
    </div>
</div>

    